@use "components";
@use "abstracts" as a;

header {
  height: 90vh;
  max-height: 90vh;
  background-color: a.$placeholder-images;
  display: grid;
  grid-template: 1fr 2fr 1fr/ auto 50% auto;

  div {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;

    h1, h4 {
      margin: 0;
    } // h1, h4

    h1 {
      text-shadow: 0 0 0 a.$hunter-green;
      transition: text-shadow 100ms ease-in;

      &:hover {
        text-shadow: 2px 2px  4px a.$hunter-green;
      } // :hover

    } // h1

    h4 {
      color: a.$dark-slate-gray;
    } // h2

  } // div

  button {
    grid-row: 3;
    grid-column: 2;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    //noinspection CssInvalidPropertyValue
    height: -moz-fit-content;
    margin: 0 auto auto;
    font-size: 1.5em;
    animation: buttonTranslate 1.5s ease-in-out infinite alternate;

    @keyframes buttonTranslate {
      from {
        transform: translateY(-15%);
      }
      to {
        transform: translateY(15%);
      }
    }

    &::after, &::before {
      content: '\f0d7';
      @include a.font(a.$font-style-fontAwesome);
      padding-left: 8px;
      padding-right: 8px;
      display: inline-block;
    } // ::after, ::before

  } // button

} // header

section.recommended {
  display: flex;
  flex-direction: column;

  .intro {
    margin-bottom: 2em;

    h3 {
      margin: 0;
      color: a.$blood-red;
    } // h3

    p {
      margin: 0;
    } // p

  } // intro

  article {
    border: .1em solid a.$hunter-green;
    box-shadow: 0 0 0 a.$dark-slate-gray;
    transition: box-shadow 100ms ease-in-out;
    border-radius: .5em;

    &:hover {
      box-shadow: 2px 2px 6px a.$dark-slate-gray;

      figure img {
        width: 75%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      } // figure img

    } // hover

    figure {
      margin: 0;
      aspect-ratio: 3/2;
      background: a.$pale-spring-bud;
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        display: block;
        object-fit: cover;
        object-position: center;
        transition: all 150ms ease-in-out;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
      } // img

    } // figure

    h4 {
      margin: .5em .5em 0 .5em;
    } // h4

    p {
      margin: .25em .5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      display: -moz-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      -moz-line-clamp: 4;
      -moz-box-orient: vertical;
    } // p

    .price {
      margin: 1em;
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);

      span {
        float: left;
        @include a.font(a.$font-style-subtitle1) {
          font-size: 1.75em;
        };

        &::after {
          content: ' €';
        } // ::after

        &:nth-of-type(2) {
          float: right;
          text-decoration: line-through;
          color: a.$blood-red;
          font-weight: 300;
        } // :nth-of-type(2)

      } // span
      
      button {
        float: inside;
        grid-column: 2;
        grid-row: 2;
      }

    } // .price

  } // article

  .more-items {
    display: inline-flex;
    align-self: end;
    margin: 1em 0;
  } // .more-items

} // section.recommended



@media(min-width: 800px) {
  #col-left .item{
    display: inline-block;
    float: left;
  }
  #col-right .item{
    display: inline-block;
    float: right;
  }
}

@media(max-width: 800px) {
  .items_wrapper{
    justify-content: center;
    flex-direction: column;
    color: aqua;
  }
  .item {
    width: 100%;
    height: 140vw;
    border: 3px solid gray;
  }
}