/**
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../bootstrap/utilities";

// Include custom variable default overrides here

// Optional
@import "../bootstrap/root";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";
@import "../bootstrap/transitions";
@import "../bootstrap/dropdown";
@import "../bootstrap/button-group";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/card";
@import "../bootstrap/accordion";
@import "../bootstrap/breadcrumb";
@import "../bootstrap/pagination";
@import "../bootstrap/badge";
@import "../bootstrap/alert";
@import "../bootstrap/progress";
@import "../bootstrap/list-group";
@import "../bootstrap/close";
@import "../bootstrap/toasts";
@import "../bootstrap/modal";
@import "../bootstrap/tooltip";
@import "../bootstrap/popover";
@import "../bootstrap/carousel";
@import "../bootstrap/spinners";
@import "../bootstrap/helpers";
@import "../bootstrap/utilities/api";
**/

$base-color: #FFFFFF;
$text-color: #000000;
$placeholder-images: #F5F5DC;
$navbar-color: #FFFFFF;

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: "Roboto Light", sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $text-color;
    }
}

.container{
    margin-right: 10vw;
    margin-left: 10vw;
}
.content{
    min-height: 80vh;
}

.link{
    text-decoration: none;
    color: gray;
    &:hover{
        color: black;
    }
}



.footer{
    margin-top: 10vh;
    height: 15vh;

}
.copyright{
    margin-top: 10%;}