$base-color: #FFFFFF;
$text-color: #000000;
$placeholder-images: #F5F5DC;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: "Roboto Light", sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $text-color;
    }
}

.container{
    margin-right: 10vw;
    margin-left: 10vw;
}
.content{
    min-height: 80vh;
}

.link{
    text-decoration: none;
    color: gray;
    &:hover{
        color: black;
    }
}



.footer{
    margin-top: 10vh;
    height: 15vh;

}
.copyright{
    margin-top: 10%;}