@use "abstracts" as a;
@use "components";
@use "components/quantitySelect";

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  section {
    margin-top: 0 !important;

    h2 {
      margin: 0 0 .75em;
      text-align: center;
    }

    article {
      border-radius: a.$border-radius;
      border: 1px solid gray;
      padding: 1em;
      gap: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      box-shadow: 0 0 0 a.$dark-slate-gray;
      transition: box-shadow 300ms ease-in-out;

      &:hover {
        box-shadow: 2px 2px 6px a.$dark-slate-gray;
      }

      figure {
        margin: 0;
        img {
          display: block;
        }
      }

      .item-description {
        align-self: stretch;
        flex-basis: 100%;

        h3 {
          margin: 0;
        }
        p {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          display: -moz-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          -moz-line-clamp: 5;
          -moz-box-orient: vertical;

          @include a.breakpoint(md) {
            -webkit-line-clamp: 8;
            -moz-line-clamp: 8;
          }
          @include a.breakpoint(sm) {
            -webkit-line-clamp: 10;
            -moz-line-clamp: 10;
          }
        }
        .item-control {
          position: relative;
          display: flex;
          justify-content: center;
          gap: 1em;
          margin-top: 1em;
          flex-wrap: wrap;

          .quantity-select {
            margin: 0;
            @include a.breakpoint(lg) {
              flex-basis: 50%;
            }
          }
          button {
            align-self: center;
          }

          span {
            user-select: none;
            position: absolute;
            right: 0;
            @include a.font(a.$font-style-body2) {
              font-size: 2em;
            };

            @include a.breakpoint(lg) {
              position: static;
              text-align: right;
              align-self: flex-end;
              flex-shrink: 0;
              flex-grow: 1;
            }

            &::after {
              content: ' €';
            }
          }
        }
      }
    }
  }
  a {
    width: min-content;
    align-self: flex-end;

    &.article-image {
      margin: auto;
    }
  }
}