@use "vars" as *;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-size: 20px;
    margin: 0;
}

// todo
.container{
    margin-right: 10vw;
    margin-left: 10vw;
}
.content{
    min-height: 80vh;
}
.link{
    text-decoration: none;
    color: gray;
    &:hover{
        color: black;
    }
}