@use "sass:map";
@use "vars";

// fonts
@mixin font ($var) {
  @include font-style(map.get($var, "font-family"), map.get($var, "font-size"), map.get($var, "font-weight"), map.get($var, "line-height"), map.has-key($var, "text-transform")) {
    @content;
  };
}
@mixin font-style ($font: map.get(vars.$font-style-body1, "font-family"),
                    $size: map.get(vars.$font-style-body1, "font-size"),
                    $weight: map.get(vars.$font-style-body1, "font-weight"),
                    $line-height: map.get(vars.$font-style-body1, "line-height"),
                    $uppercase: map.has-key(vars.$font-style-body1, "text-transform")) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  @if $uppercase {
    text-transform: uppercase;
  } @else if $uppercase != false {
    text-transform: $uppercase;
  }

  @content
}

@mixin input ($placement-label-attr: top,
              $placement-label: calc(-2.5em - 2px),
              $placement-not-shown-attr: top,
              $placement-not-shown: calc(-4.2em)) {
  input {
    margin: .8em .5em .5em;
    padding: .5em;
    width: calc(100% - 1em);
    background: vars.$white;
    color: vars.$dark-slate-gray;
    @include font(vars.$font-style-body2);
    outline: none;
    border: 2px solid vars.$dark-slate-gray;
    border-radius: vars.$border-radius;
    transition: box-shadow 300ms ease-in-out;

    & + label {
      position: relative;
      @include font(vars.$font-style-body2) {
        font-weight: 300;
        text-transform: uppercase;
      };
      font-style: italic;
      #{$placement-label-attr}: #{$placement-label};
      text-align: start;
      margin: 0 22px;
      height: 0;
      transform: scale(1);
      transform-origin: left;
      transition: all 200ms ease-in-out;
    }

    &:focus {
      border-color: vars.$blood-red;
      box-shadow: 0 0 4px vars.$hunter-green;
    }

    &:focus, &:not(:placeholder-shown) {
      & + label {
        transform: scale(.75);
        #{$placement-not-shown-attr}: #{$placement-not-shown};
      }
    }

    &:hover {
      box-shadow: 0 0 4px vars.$hunter-green;
    }

  }
  @content;
}