@use "../abstracts" as a;

.footer {
  padding: 2em 10vw 1em;
  background: a.$dark-slate-gray;
  color: a.$white;
  @include a.font(a.$font-style-subtitle2);

  .copyright {
    display: flex;
    flex-direction: row-reverse;
  }
}