@use "sass:map";
@use "../abstracts" as a;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

nav {
  background-color: a.$navbar-color;
  overflow: hidden;
  padding-left: 10vw;
  user-select: none;
  padding-right: 10vw;

  div {
    display: flex;
    align-items: center;

    span {
      @include a.font(a.$font-style-subtitle2);
      color: a.$navbar-text-color;
    }

    a {
      text-decoration: none;
      position: relative;
      text-align: center;
      padding: 14px 16px;
      @include a.font(a.$font-style-body2);
      color: a.$navbar-text-color;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: .2rem;
        background: white;
        transform: scaleX(0);
        transition: all 150ms ease-in-out;
      } // ::before

      &:hover, &:focus-visible {
        outline: none;

        &::before {
          transform: scaleX(.8);
        } // ::before

      } // :hover, :focus-visible

      &.nav-button-shopping-cart {
        margin: 10px 10px 10px 14px;
        padding: 4px 6px 4px 6px;
        color: a.$navbar-color;
        background: a.$navbar-text-color;
        border-radius: 8px;
        transform-style: preserve-3d;
        @include a.font(a.$font-style-button);

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 0 16px white;
          border-radius: 8px;
          transform: translateZ(-1px) scaleX(0);
          mix-blend-mode: soft-light;
        } // ::before

        &::after {
          // todo mixin
          content: '\f07a';
          font-family: map.get(a.$font-style-fontAwesome, "font-family");
          padding-left: 4px;
        } // ::after

        &:hover, &:focus-visible {
          &::before {
            transform: translateZ(-1px) scaleX(1);
          }
        } // :hover

      } // .nav-button-shopping-cart

      &.nav-button-home {
        @include a.font-style(
                        map.get(a.$font-style-headline6, "font-family"),
                        map.get(a.$font-style-body2, "font-size"),
                        map.get(a.$font-style-headline4, "font-weight"),
                        map.get(a.$font-style-body2, "line-height"),
                        false
        );
      } //.nav-button-home

      &[data-active] {
        text-shadow: 1px 1px 4px white;
      } // a[data-active]

    } // a

    div.dropdown {
      position: static;
      display: inline-block;
      text-align: center;
      user-select: none;
      color: a.$navbar-text-color;
      z-index: 99;

      &:hover, &:focus-within {
        a::after {
          transform: rotate(-.5turn);
          padding-left: 0;
          padding-right: 6px;
        } // a::after

        .dropdown-content {
          transform: scaleY(1) scaleX(1);
        } // dropdown-content

      } // :hover, :focus-within

      & > a::before {
        content: none;
      }

      a::after {
        display: inline-block;
        // todo mixin
        content: '\f0d7';
        font-family: map.get(a.$font-style-fontAwesome, "font-family");
        padding-left: 6px;
        transform: rotate(0turn);
        transition: all 150ms ease-in-out;
      } // a::after

      .dropdown-content {
        display: block;
        height: auto;
        margin-top: 14px;
        padding-bottom: 6px;
        position: absolute;
        background-color: a.$navbar-color;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scaleY(0) scaleX(0);
        transition: transform 150ms ease-in-out;

        a {
          float: none;
          padding: 8px 16px;
          display: block;
          text-align: left;



          &::after {
            content: none;
          } // ::after

        } // a

      } // dropdown-content

    } // div.dropdown

  } // div

  .left{
    float: left;
  } // .left

  .right{
    float: right;
  } // .right

  .icon {
    display: none;
  } // .icon

} // .navbar

@media screen and (max-width: 1000px) {
  .navbar {
    a.icon {
      float: right;
      display: block;
    }
  }
  .navbar .left a:not(:first-child), .navbar .right a, .dropdown .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;

    .left, .right {
      float: left;
      display: flex;
      flex-direction: column;
    }

    .responsive {
      position: relative;
      height: auto;
      display: flex;
      flex-direction: column;

      a {
        float: none;
        display: block;
        text-align: left;

        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .dropdown {
        float: none;

        .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
      }

      .dropdown-content {
        position: relative;
      }
    }
  }
}