@use "../abstracts" as a;

.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
  inset: 0;
  display: none;

  &:target {
    display: flex;
    & > a {
      display: block;
    }
  }

  .popup-box {
    margin: auto;
    padding: 8px;
    border: 4px solid lightgray;
    border-radius: a.$border-radius;
    background-color: #FFFFFF;
    z-index: 102;
    position: relative;

    .popup-cancel {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.5em;
      font-weight: 900;
      line-height: .5em;
      margin: .2em;
      cursor: pointer;
    }

    .popup-title {
      margin: 1em .25em 0;
      text-align: center;
      @include a.font(a.$font-style-body2) {
        font-size: 1.25em;
        line-height: 1.5em;
      }
    }

    .popup-content {
      display: flex;
      margin: 1em .3125em;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: .25em 1em;
      p {
        margin: 0;
        @include a.font(a.$font-style-body2);
      }
    }

    .popup-bottom {
      margin: 1em 0 0;
      display: flex;
      flex-direction: row-reverse;
    }

    &:target, &:target + .popup {
      display: block;
      opacity: 2;
    }
  }

  //&.hide {
  //  &, & .popup-box {
  //    display: none;
  //  }
  //}
}