@use "../abstracts" as a;
form.searchbar {
  display: flex;
  align-items: center;
  position: relative;

  button {
    position: absolute;
    right: 7rem;
    transition: all 200ms ease-in-out;
    z-index: -1;
  }
  @include a.input(left, 7rem, left, 2rem);
  input {
    margin: .5em 6.5rem;
    background: transparent;
    & + label {
      position: absolute;
      height: auto;
      margin: .5em 0;
      z-index: -1;
    }
    &:focus, &:not(:placeholder-shown) {
      & ~ button {
        right: 0;
        z-index: 0;
      }
    }
  }
}