@import "../init";

.page_form {
  width: 100vw;
  height: 100vh;
  background: $placeholder-images; //url(image.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


form {
  max-width: 320px;
  width: 50%;
  margin: 1rem;
  background-color: $base-color;
  padding: 1rem;
  border-radius: 4px;
  color: $text-color;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);

  label{
    width: 100%;
  }
  .form_input {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }
  }

  button{
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
  }

  h1 {
    text-align: center;
  }

  .info {
    color: #fff;
  }

  .error {
    color: #ad0000;
  }


}