@use "abstracts/vars" as a;
@use "abstracts/mixins";

body {
  background: a.$pale-spring-bud;
}

main {
  margin: 0 !important;
  padding: 1em 0;

  text-align: center;
  line-height: calc(100vh - 116px - 2em);
} // main

fieldset {
  margin-bottom: .5em;
  background-color: a.$white;
  padding: 0;
  border: none;
  border-radius: a.$border-radius;
  vertical-align: middle;
  line-height: normal;

  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .25em;
  div {
    grid-column: span 1;
    input {
      & + label {
        top: calc(-2.2em - 2px);
      }
      &:focus, &:not(:placeholder-shown) {
        & + label {
          top: calc(-3.9em);
        }
      }
    }
  }
}

form {
  background-color: a.$white;
  box-shadow: 0 0 8px a.$hunter-green;
  padding: 1em;
  border-radius: a.$border-radius;
  vertical-align: middle;
  line-height: normal;

  max-width: 80%;
  width: 750px;

  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .25em;

  * {
    grid-column: span 2;
  }

  input, label {
    display: block;
  }

  @include mixins.input();

  button, .link-button {
    width: 90%;
    grid-column: span 1;
    margin: auto;
  }

  h2 {
    font-size: 3em;
    line-height: 1em;
    padding: .25em 0;
    margin: 0;
  }

  p.info {
    @include mixins.font(a.$font-style-subtitle2);
    margin: 0 .5em 1em;
    padding: 1em;
    overflow-wrap: break-word;
    hyphens: manual;
    background: lightgray;
    border-radius: a.$border-radius;
    border: solid 2px a.$dark-slate-gray;
  }

  p.error {
    @include mixins.font(a.$font-style-body2);
    margin: 1em .5em 0;
    padding: 1em;
    overflow-wrap: break-word;
    hyphens: manual;
    background: a.$blood-red;
    color: white;
    border-radius: a.$border-radius;
    border: solid 2px a.$dark-slate-gray;
  }

} // form

@include mixins.breakpoint(sm) {
  form {
    max-width: 100%;
    width: 100%;
    box-shadow: none;
    border-radius: 0;

    button, .link-button {
      grid-column: span 2;
      margin: auto 0 .5em;
      width: auto;
    }
  }
  main {
    padding: 0;
  }
  body {
    background: white;
  }
  fieldset {
    margin-bottom: 1em;
    div {
      grid-column: span 2;
    }
  }
}
