@use "abstracts/mixins";
@use "abstracts/vars";

h2, h3, ul, section {
  margin: 0 !important;
}

.grid-column--6 {
  border: 2px solid vars.$dark-slate-gray;
  border-radius: vars.$border-radius;
  padding: 0 1em 1em;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

  border: 2px solid black;

  th, td {
    padding: 2px 4px;
  }

  th {
    width: 1px;
    text-align: center;

    &:nth-child(1), &:nth-child(4) {
      width: 2px;
    }
  }

  td {
    border-bottom: solid 1px black;
    &:nth-child(4), &:nth-child(2) {
      text-align: end;
    }
    &:nth-child(3) {
      text-align: center;
    }
  }

  thead {
    @include mixins.font(vars.$font-style-body1);
    background: vars.$pale-spring-bud;
    border-bottom: solid 2px black;
  }
  tbody, tfoot {
    @include mixins.font(vars.$font-style-body2);
  }
  tfoot {
    border-top: double 3px black;
    background: #ddd;
  }
}

main {
  position: relative;

  a {
    position: sticky;
    left: 100%;
  }

  div.grid-container {
    margin-bottom: 1em;
  }
}

footer {
  margin-top: 2em;
}
