@use "abstracts/vars" as a;
@use "abstracts/mixins";
@use "components/quantitySelect";

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    section {
        margin-top: 0 !important;

        h2 {
            margin: 0 0 .75em;
            text-align: center;
        }

        article {
            border-radius: a.$border-radius;
            border: 1px solid gray;
            padding: 1em;
            gap: 1em;
            display: grid;
            grid-template: repeat(3, auto) / 300px auto;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;
            box-shadow: 0 0 0 a.$dark-slate-gray;
            transition: box-shadow 300ms ease-in-out;

            &.no-figure {
                grid-template-columns: auto !important;
            }

            @include mixins.breakpoint(lg) {
                grid-template-columns: 200px auto;
            }
            @include mixins.breakpoint(md) {
                grid-template-columns: auto;
            }

            &:hover {
                box-shadow: 2px 2px 6px a.$dark-slate-gray;
            }

            figure {
                display: inline-flex;
                margin: 0;
                grid-row: span 3;

                a {
                    width: 100%;

                    img {
                        width: min(350px, 100%);
                        display: block;
                        margin: auto;
                    }
                }
            }

            h3 {
                margin: 0;
                position: relative;

                sub {
                    position: absolute;
                    bottom: -.25em;
                    right: 0;
                    @include mixins.font-style(
                            map-get(a.$font-style-subtitle1, "font-family"),
                            .4em,
                            100,
                            1em
                    );

                    &.stock {
                        background: a.$blood-red;
                        color: white;
                        padding: .2em;
                        border-radius: .2em;
                    }
                }
            }

            p {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                display: -moz-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                -moz-line-clamp: 5;
                -moz-box-orient: vertical;
            }

            div { // flex container
                display: flex;
                flex-wrap: wrap;
                gap: .5em 0;
                justify-content: right;

                div.item-control {
                    margin: auto;
                    gap: .5em 1em;
                    justify-content: center;

                    .quantity-select {
                        margin: 0;
                    }

                    button {
                        align-self: center;
                    }
                }

                price {
                    align-self: center;
                    margin-left: auto;

                    user-select: none;
                    @include mixins.font(a.$font-style-body2) {
                        font-size: 2em;
                    }

                    &::after {
                        content: ' €';
                    }
                }
            }
        }
    }

    a {
        width: min-content;
        align-self: flex-end;

        &.article-image {
            margin: auto;
        }
    }
}
