@use "../abstracts" as a;
@use "../components/popup";

footer {
  padding: 2em 10vw 1em;
  background: a.$dark-slate-gray;
  color: a.$white;
  @include a.font(a.$font-style-subtitle2);
  position: sticky;
  top: 100vh;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
    gap: 2em;

  .copyright {
      flex-grow: 1;
      text-align: end;
  }
}
