@use "../abstracts" as a;

form.searchbar {
  display: flex;
  align-items: center;
  position: relative;

  button {
    position: absolute;
    right: 8em;
    transition: all 200ms ease-in-out;
    z-index: -1;
  }
  @include a.input(left, 6.5em, left, 2rem);
  input {
    margin: .5em 6em;
    background: transparent;
    & + label {
      position: absolute;
      height: auto;
      margin: .5em 0;
      z-index: -1;
    }
    &:focus, &:not(:placeholder-shown) {
      & ~ button {
        right: 0;
        z-index: 0;
      }
    }
  }

  @include a.breakpoint(sm) {
    button {
      position: initial;
    }

    input {
      margin: .5em;

      & + label {
        left: 1em;
      }

      &:focus, &:not(:placeholder-shown) {
        & + label {
          display: none;
        }
      }
    }
  }
}