@use "vars";
@use "mixins";

// fonts
h1 {
    @include mixins.font(vars.$font-style-headline1);
} // h1
h2 {
    @include mixins.font(vars.$font-style-headline2);
    color: vars.$blood-red;
    text-align: center;
} // h2
h3 {
    @include mixins.font(vars.$font-style-headline3);
} // h3
h4 {
    @include mixins.font(vars.$font-style-headline4);
} // h4
h5 {
    @include mixins.font(vars.$font-style-headline5);
} // h5
h6 {
    @include mixins.font(vars.$font-style-headline6);
} // h6
p {
    @include mixins.font(vars.$font-style-body1);
} // p

* {
    box-sizing: border-box;
} // *

::-webkit-scrollbar {
    display: none;
} // ::-webkit-scrollbar

html {
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    margin: 0;
    color: black;
    min-height: 100vh;

    @include mixins.breakpoint(md) {
        font-size: 16px;
    }
    @include mixins.breakpoint(sm) {
        font-size: 14px;
    }
} // body

.link-button, button {
    background-color: vars.$blood-red;
    color: vars.$white;
    @include mixins.font(vars.$font-style-button);
    border-radius: vars.$border-radius;
    padding: .5em;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 vars.$hunter-green;
    transition: box-shadow 200ms ease-in-out;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 8px vars.$hunter-green;
    } // :hover

    &.secondary-button {

    } // .secondary-button

    &.inactive {
        cursor: not-allowed;
        background: gray;

        &:hover {
            box-shadow: 0 0 0 #000;
        } // :hover

    } // .inactive

} // button

.no-text-decoration {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 0 10vw;

    @include mixins.breakpoint(xxl) {
        margin-inline: 5vw !important;
    }
    @include mixins.breakpoint(xl) {
        margin-inline: 1em !important;
    }
} // main

section {
    margin-top: 3em !important;
}

p.product-not-found {
    grid-column: span 12;
    text-align: center;
}
