@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
// Include custom variable default overrides here
// Optional
@import "../bootstrap/bootstrap";
::-webkit-scrollbar {
    display: none;
}

#header_image {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header_image h3 {}

#header_image h1 {
    font-size: 5vh;
}

.recommended {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 10vh;
}

.navbar_placeholder {}

.item {
    width: 20%;
    height: 60%;
    border: 3px solid gray;
}

.item_image {
    height: 50%;
    background-color: beige;
}

.item_title {
    margin: 5%;
}

.item_description {
    margin: 5%;
}

.item .wrapper {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 800px) {
    .item {
        width: 90vw;
        height: 140vw;
        border: 3px solid gray;
    }
}