@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../bootstrap/utilities";

// Include custom variable default overrides here

// Optional
@import "../bootstrap/root";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/grid";
@import "../bootstrap/tables";
@import "../bootstrap/forms";
@import "../bootstrap/buttons";
@import "../bootstrap/transitions";
@import "../bootstrap/dropdown";
@import "../bootstrap/button-group";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/card";
@import "../bootstrap/accordion";
@import "../bootstrap/breadcrumb";
@import "../bootstrap/pagination";
@import "../bootstrap/badge";
@import "../bootstrap/alert";
@import "../bootstrap/progress";
@import "../bootstrap/list-group";
@import "../bootstrap/close";
@import "../bootstrap/toasts";
@import "../bootstrap/modal";
@import "../bootstrap/tooltip";
@import "../bootstrap/popover";
@import "../bootstrap/carousel";
@import "../bootstrap/spinners";
@import "../bootstrap/helpers";
@import "../bootstrap/utilities/api";

::-webkit-scrollbar {
    display: none;
}

#header_image {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header_image h3 {}

#header_image h1 {
    font-size: 5vh;
}

.recommended {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 10vh;
    position: sticky;
    top: 0;
}

.navbar_placeholder {}

.item {
    width: 20%;
    height: 60%;
    border: 3px solid gray;
}

.item_image {
    height: 50%;
    background-color: beige;
}

.item_title {
    margin: 5%;
}

.item_description {
    margin: 5%;
}

.item .wrapper {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 800px) {
    .item {
        width: 90vw;
        height: 140vw;
        border: 3px solid gray;
    }
}