.grid-container {
  margin: 0 10vw 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 6px;
}

/**
tablet:
6 columns
mobile:
2/3 columns
 */
.grid-column {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  height: min-content;
  h3.card-title {
    padding: 6px;
    margin: 0;
    text-align: center;
    background-color: #F5F5DC;
  }
  div.card-bottom {
    text-align: right;
    padding: 6px 8px;
    background-color: #ddd;
  }
  table {
    width: 100%;
    padding: 2px 6px 4px;
    tr {
      td:nth-child(2), td:nth-child(3) {
        text-align: center;
      }
      td:nth-child(4){
        button{
          width: 100%;
        }
      }
    }
  }
}
.grid-column-2 {
  grid-column: span 2;
}
.grid-column-3 {
  grid-column: span 3;
}
.grid-column-4 {
  grid-column: span 4;
}
.grid-column-6 {
  grid-column: span 6;
}
.grid-column-8 {
  grid-column: span 8;
}
.grid-column-9 {
  grid-column: span 9;
}
.grid-column-10 {
  grid-column: span 10;
}
.grid-column-12 {
  grid-column: span 12;
}